<div class="projects-container">
  <h2>Mis Proyectos</h2>

  <!-- El párrafo de introducción que querías -->
  <p class="intro-text">
    Hola, soy Cristian Montoya. Ingeniero de sistemas que encuentra en el código
    la misma búsqueda de elegancia y eficiencia que en las artes marciales. Me
    motiva y apasiona construir puentes entre los desafíos complejos de los
    negocios y las soluciones tecnológicas.
  </p>

  <div class="projects-grid">
    <app-project-card
      *ngFor="let project of projects; let i = index"
      [project]="project"
      (cardClick)="open(i)"
    >
    </app-project-card>
  </div>
</div>

<!-- IMPORTANTE: La etiqueta <app-image-details> ha sido eliminada. -->
