<div class="projects-container">
  <div class="title-container">
    <img
      src="assets/images/angular.png"
      alt="Logo de Angular"
      class="title-logo"
    />
    <h2>Mis proyectos corporativos</h2>
  </div>

  <p class="intro-text2">
    Como desarrollador Full-stack Senior, cuento con una sólida trayectoria de 7
    años en el ecosistema Angular y una vasta experiencia en PHP para el
    backend. Mi dominio de bases de datos como PostgreSQL y MariaDB, junto con
    mi compromiso con la eficiencia operativa, me permite crear soluciones
    robustas que optimizan la experiencia del usuario final y generan un impacto
    tangible.
  </p>

  <div class="projects-grid">
    <app-project-card
      *ngFor="let project of projects; let i = index"
      [project]="project"
      (cardClick)="open(i)"
    >
    </app-project-card>
  </div>
  <!-- <div class="title-container2">
    <h2>Mis proyectos a nivel personal</h2>
  </div>

  <div class="projects-grid">
    <app-project-card
      *ngFor="let project of personalProjects; let i = index"
      [project]="project"
      (cardClick)="openPersonalProjects(i)"
    >
    </app-project-card>
  </div> -->
</div>
