<div class="projects-container">
  <div class="title-container">
    <img
      src="assets/images/angular.png"
      alt="Logo de Angular"
      class="title-logo"
    />
    <h2>Mis proyectos corporativos</h2>
  </div>

  <p class="intro-text2">
    Soy desarollador frontend senior con ámplia experiencia en el framework de
    javascript Angular. A nivel backend poseo conocimientos en el manejo
    javascript con Node Express, y php puro junto con su framework Laravel.
  </p>

  <div class="projects-grid">
    <app-project-card
      *ngFor="let project of projects; let i = index"
      [project]="project"
      (cardClick)="open(i)"
    >
    </app-project-card>
  </div>
  <div class="title-container2">
    <h2>Mis proyectos a nivel personal</h2>
  </div>

  <div class="projects-grid">
    <app-project-card
      *ngFor="let project of personalProjects; let i = index"
      [project]="project"
      (cardClick)="openPersonalProjects(i)"
    >
    </app-project-card>
  </div>
</div>
