<div class="topbar-content">
  <button class="menu-toggle" (click)="toggleSidebar()">☰</button>

  <div class="user-identity">
    <span class="name">Cristian Montoya</span>
    <span class="title"> PHP & Angular Fullstack Developer</span>
  </div>

  <div class="theme-toggle-container">
    <div class="university-info">
      <span>Universidad Industrial de Santander</span>
    </div>

    <div class="separator"></div>

    <button
      class="theme-toggle"
      [class.dark-mode]="isDarkMode"
      (click)="toggleTheme()"
    >
      <div class="switch"></div>
    </button>
  </div>
</div>
