<div class="sidebar-content">
  <img src="assets/anaconda.png" alt="Anaconda" class="anaconda-img" />
  <div class="poem-container">
    <h2>El Arte de la Suavidad</h2>
    <p>
      "Mata-león", el jiujitero,<br />
      con un abrazo que no tiene reparo.<br />
      Jiu-jitsu, el arte de la suavidad,<br />
      donde la fuerza cede a la habilidad.<br /><br />
      Con él, una mujer en apuros, transforma al más fiero en alma mansa,<br />
      un espíritu sumiso y en paz,<br />
      el agresor, rendido, sin rastro tenaz.<br /><br />
      Es un monstruo astuto, tranquilo, certero.<br />
      No ruge, no es grosero, no eleva la voz.<br />
      Mientras el león grita con denuedo en el cielo,<br />
      el monstruo jiujitero guarda su voz.<br /><br />
      No se apura por la victoria,<br />
      no se afana por ser el primero,<br />
      su objetivo es ser certero.<br />
      Oh jiujitero, cuán grande es tu arte,<br />
      que en medio de tu gentileza,<br />
      el león vuelve a tomar respiración,<br />
      y teniéndote cerca, opta por no<br />
      volver a intentar apagar tu voz.<br /><br />
      Así, en cada línea de código hallada,<br />
      la misma filosofía es aplicada.<br />
      Paciencia, astucia y calma, son las armas con<br />
      las que el jiujitero y el desarrollador impactan.
    </p>
  </div>
</div>
